*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

*:focus {
	outline: none;
}

:root {
	/*primary colors*/
    --text-primary: #111;
    --bg-primary: #fefefe;

	/*secondary colors*/
    --links: #023d8ada;
    --light-gray: #aaaaaa;
	--very-light: #ebebeb;

	/*transitions*/
    --transition-fast: 150ms;
    --transition-slow: 350ms;
    --transition-verySlow: 500ms;
    --transition-long: 1000ms;

	/*rgb animation*/
	--clr-pr-primary-500: #9146ff;
	--clr-pr-blue-500: #1499ef;
	--clr-pr-cyan-500: #00bcd4;
	--clr-pr-green-500: #58b15b;
	--clr-pr-orange-500: #ff9800;
	--clr-pr-red-500: #f04f43;
	--clr-lightyellow-500: #d6cb38;
	--clr-green-500: #65c77c;
	--clr-bluedeep-500: #1daaca;
}

/*html {scroll-behavior: smooth;}*/

body {
    font-style: normal;
    background-position: center;
    min-height: 100vh;
    color: var(--text-primary);
    background-color: var(--bg-primary);
	transition: var(--transition-slow) ease;
	margin: 0;
}

.container {
	perspective: 50px;  
}

.dark {
	--light-gray1: hsl(0, 0%, 87.33%);
	color: var(--bg-primary);
	background-color: var(--text-primary);
	stroke: var(--bg-primary);
	fill: var(--bg-primary);
	text-shadow: 0 0 20px var(--light-gray1);
	border: 1.5px solid var(--bg-primary);
	outline: 1.5px solid var(--bg-primary);
}

.dark svg path:not(nav svg path){
	background-color: var(--text-primary);
	color: var(--bg-primary);
	fill: var(--bg-primary);
	stroke: var(--bg-primary);
}

.dark a:not(svg) {
	color: var(--bg-primary);
}

.dark a svg {
	color: var(--text-primary);
	border-radius: 8px;
}

.dark .card, .dark .card-about {
	box-shadow: 0px 0px 12px 2px var(--bg-primary);
	-webkit-box-shadow: 0px 0px 12px 2px var(--bg-primary);
	-moz-box-shadow: 0px 0px 12px 2px var(--bg-primary);
}

a {
    text-decoration: none;
    color: var(--text-primary);
    font-size: clamp(16px, 1.5vw, 24px);
}

a:hover {
	border-bottom: 1px solid var(--light-gray) dotted;
	text-decoration: none;
}

h1 {
	font-weight: 800;
}

h2 {
	font-weight: 600;
}

h3 {
	font-weight: 500;
}

h4 {
	font-weight: 400;
}

p {
	font-weight: 400;
}

button {
	border: none;
	background-color: none;
	background: none;
	cursor: pointer;
	pointer-events: all;
	margin: 0;
	padding: 0;
}

button:active, button:focus {
	border: none;
	background-color: none;
	background: none;
	/*outline: 1.5px solid var(--links);*/
}

/* <filter-function> values */
/*backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);*/

nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: var(--very-light);
	backdrop-filter: blur(12px);
	padding: 16px 64px;
	align-items: center;
	z-index: 5;
	border-bottom: 1px solid var(--light-gray);
}

@media only screen and (min-width: 767px) {
	nav {
		position: fixed;
	}
}

nav .right {
	display: flex;
	gap: 32px;
	justify-content: center;
	text-align: center;
	align-items: center;
    list-style: none;
	max-width: fit-content;
}

nav .hamburber {
	display: none;
}

nav .right a {
	font-size: clamp(19px, 4vw, 23px);
	font-weight: 500;
}

/** transition **/
section.fade-in {
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/** end transition **/

nav .right a:hover {
	font-style: italic;
}

nav .right a:active, nav .right a.active {
	text-decoration: underline;
	text-decoration-style: dashed;
	text-underline-offset: 3.5px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.img-container img {
	max-width: 55px;
	max-height: 55px;
	display: inherit;
}

li#dark-mode button {
	padding: .25rem;
	border-radius: 50%;
}

li#socials {
	display: none;
}

@media only screen and (max-width: 800px) {
	nav {
		padding: 16px 32px;
	}
	nav.nav-full {
		min-height: 100vh;
		position: relative;
		flex-direction: column;
		justify-content: center;
		flex-direction: column;
	}
	nav li#dark-mode button {
		display: none;
	}
	nav.nav-full .hamburger {
		position: absolute;
		z-index: 3;
		top: 34px;
		right: 32px;
	}
	nav .hamburger {
		display: flex;
		flex-direction: column;
		width: 32px;
		height: 14px;
		justify-content: space-between;
		cursor: pointer;
	}
	nav .hamburger.turned {
		height: 12px;
	}
	nav .right .hamburger:hover .line {
		background: var(--text-primary);
		transition: var(--transition-fast);
	}
	nav .right .hamburger:active .line {
		background: var(--text-primary);
		transition: var(--transition-fast);
	}
	nav .right .hamburger .line.turned-one {
		transform: rotate(45deg);
		top: 8.875px;
	}
	nav .right .hamburger .line.turned-two {
		transform: rotate(-45deg);
		bottom: 8px;
	}
	nav .right .hamburger .line {
		width: 34px;
		height: 3px;
		border-radius: 8px;
		background: var(--text-primary);
		position: relative;
		top: 0;
		bottom: 0;
	}
    nav .right a {
        display: none;
    }
    nav img {
        display: none;
    }
	nav.nav-full img {
		display: none;
	}
    nav.nav-full .right {
        display: flex;
        flex-direction: column;
        top: 50px;
		padding: 3rem;
		background-color: rgba(115,115,115,0.01);
		border-radius: 8px;
		border: 1px solid var(--light-gray);
		box-shadow: 18px 20px 26px -14px rgba(115,115,115,0.34);
		-webkit-box-shadow: 18px 20px 26px -14px rgba(115,115,115,0.34);
		-moz-box-shadow: 18px 20px 26px -14px rgba(115,115,115,0.34);
    }
    nav.nav-full .right a {
        display: block;
        text-transform: uppercase;
        font-size: clamp(24px, 5vw, 42px);
		font-weight: 500;
    }
	li#dark-mode {
		display: none;
	}
	li#socials {
		display: flex;
		flex-direction: row;
		margin: .5rem auto;
		border-top: 1px solid var(--light-gray);
		padding-top: 18px;
	}
	li#socials a {
		margin: 0 .25rem;
	}
	li#socials svg:hover {
		/*opacity: .7;*/
		animation: color-change 3.75s infinite;
	}
}

@keyframes color-change {
    0% { stroke: var(--clr-pr-blue-500); }
    12.5% { stroke: var(--clr-pr-cyan-500); }
    25% { stroke: var(--clr-pr-green-500); }
    37.5% { stroke: var(--clr-pr-orange-500); }
    50% { stroke: var(--clr-pr-primary-500); }
    62.5% { stroke: var(--clr-pr-red-500); }
    75% { stroke:var(--clr-lightyellow-500); }
    87.5% { stroke:var(--clr-green-500); }
    100% { stroke: var(--clr-bluedeep-500); }
}


/*landing*/
main {
	display: flex;
	gap: 8px;
	justify-content: center;
	flex-direction: column;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 64px;
	position: relative;
	min-height: 80vh;
}

@media only screen and (max-width: 1000px) {
	section {
		flex-direction: column;
		padding: 64px 32px;
	}
}

main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.container {
	margin: auto;
	display: flex;  
	justify-content: center;  
	align-items: center;  
	flex-direction: column;
	padding-top: 10px;  
	padding-bottom: 10px;  
}

.container section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 90px;
	max-width: 1000px;
}

@media screen and (min-width: 867px) {
	.container section {
		width: 800px;
	}
	.card {
		padding: 4rem !important;
	}
}

.card {
	display: flex;
	flex-direction: column;
	transform-style: preserve-3d;  
	padding: 3rem;
	max-width: 525px;
	margin: .5rem;
	box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.12);
	-webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.12);
	border-radius: 6px;
}

.card > * {
	transition: var(--transition-slow) ease-in-out;
}

.flex-box {
	display: flex;
}

.card > * {
	margin: .75rem 0;
	text-align: left;
}

.button {
	margin: .5rem 0;
	max-width: 140px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content:center;
	flex-direction: row;
	padding: 1rem 1.5rem;
	outline: none;
	border: none;
	background: none;
	border-radius: 6px;
	color: var(--bg-primary);
	background-color: var(--text-primary);
	font-weight: 900;
}

.btn-hover {
    max-width: 200px;
	padding: 1rem 1.75rem;
    font-size: 16px;
    font-weight: 600;
    color: var(--bg-primary);
    cursor: pointer;
    margin: .3rem auto;
    height: fit-content;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 12px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover.first {
	margin-right: .5rem;
}

.btn-hover:hover {
    background-position: 100% -10%;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

/** ABOUT **/
.card-about {
	display: flex;
	flex-direction: column;
	transform-style: preserve-3d;
	transform-origin: top bottom;
	padding: 3rem;
	max-width: 525px;
	margin: .5rem;
	box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.12);
	-webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.12);
	border-radius: 6px;
}

.card-about > * {
	margin: .35rem 0;
}
/** END ABOUT **/


/** PROJECTS **/

/** END PROJECTS **/


/** FOOTER **/ 
footer {
	max-width: 100%;
	max-height: 200px;
	margin: 0 auto;
}

footer ul {
	max-width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;
	list-style: none;
	padding: 0 !important;
	margin-bottom: 32px;
	margin-top: auto;
}

footer ul li {
	display: flex;
	flex-direction: row;
	max-width: fit-content;
	margin: 0 .5rem;
}

footer ul li a {
	font-size: clamp(10px, 2vw, 20px);
}
/** resize footer **/
@media screen and (max-width: 500px) {
	footer {
		max-width: fit-content;
	}
	footer ul {
		margin: 0 auto;
		max-width: 55%;
	}
	footer ul li {
		margin: 0 .1rem;
	}
	footer ul li a {
		font-size: 12px;
	}
}

footer a svg:not(.socials svg) {
	transform: translateY(6px);
	width: 22px;
	height: 22px;
	transition: .35s ease-in-out;
}

footer a:hover {
	color: var(--text-primary);
	text-shadow: 0 0 20px var(--light-gray);
}

footer ul li a:hover svg {
	transform: translateY(-2px);
}
/** END FOOTER **/
