*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

*:focus {
	outline: none;
}

:root {
	/*primary colors*/
    --text-primary: #111;
    --bg-primary: #fefefe;

	/*secondary colors*/
    --links: #023d8ada;
    --light-gray: #aaaaaa;
	--very-light: #ebebeb;

	/*transitions*/
    --transition-fast: 150ms;
    --transition-slow: 350ms;
    --transition-verySlow: 500ms;
    --transition-long: 1000ms;

	/*rgb animation*/
	--clr-pr-primary-500: #9146ff;
	--clr-pr-blue-500: #1499ef;
	--clr-pr-cyan-500: #00bcd4;
	--clr-pr-green-500: #58b15b;
	--clr-pr-orange-500: #ff9800;
	--clr-pr-red-500: #f04f43;
	--clr-lightyellow-500: #d6cb38;
	--clr-green-500: #65c77c;
	--clr-bluedeep-500: #1daaca;
}

/*html {scroll-behavior: smooth;}*/

body {
    font-style: normal;
    background-position: center;
    min-height: 100vh;
    color: var(--text-primary);
    background-color: var(--bg-primary);
	stroke: var(--text-primary);
	fill: var(--text-primary);
	z-index: 9999;
}

body.dark {
	color: var(--bg-primary);
	background-color: var(--text-primary);
	stroke: var(--bg-primary);
	fill: var(--bg-primary);
	transition: var(--transition-slow) ease-in-out;
	z-index: 9;
}

a {
    text-decoration: none;
    color: var(--text-primary);
    font-size: clamp(16px, 1.5vw, 24px);
}

a:hover {
	border-bottom: 1px solid var(--light-gray) dotted;
	color: inherit;
}

h1 {
	font-weight: 800;
}

h2 {
	font-weight: 600;
}

h3 {
	font-weight: 500;
}

h4 {
	font-weight: 400;
}

p {
	font-weight: 400;
}

button {
	border: none;
	background-color: none;
	background: none;
	cursor: pointer;
	pointer-events: all;
	margin: 0;
	padding: 0;
}

button:active, button:focus {
	border: none;
	background-color: none;
	background: none;
	/*outline: 1.5px solid var(--links);*/
}

/* <filter-function> values */
/*backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);*/

nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: var(--very-light);
	backdrop-filter: blur(12px);
	padding: 16px 64px;
	align-items: center;
	z-index: 5;
	border-bottom: 1px solid var(--light-gray);
}

@media only screen and (min-width: 767px) {
	nav {
		position: fixed;
	}
}

nav .right {
	display: flex;
	gap: 32px;
	align-items: center;
    list-style: none;
	max-width: fit-content;
}

nav .hamburber {
	display: none;
}

nav .right a {
	font-size: clamp(19px, 4vw, 23px);
	font-weight: 500;
}

/** transition **/
section.fade-in {
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/** end transition **/

nav .right a:hover {
	font-style: italic;
}

nav .right a:active, nav .right a.active {
	text-decoration: underline;
	text-decoration-style: dashed;
	text-underline-offset: 3px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.img-container img {
	max-width: 55px;
	max-height: 55px;
	display: inherit;
}

li#dark-mode button {
	padding: .25rem;
	border-radius: 50%;
}

li#socials {
	display: none;
}

@media only screen and (max-width: 800px) {
	nav {
		padding: 16px 32px;
	}
	nav.nav-full {
		min-height: 100vh;
		position: relative;
		flex-direction: column;
		justify-content: center;
		flex-direction: column;
		z-index: 9999;
	}
	nav li#dark-mode button {
		display: none;
	}
	nav.nav-full .hamburger {
		position: absolute;
		z-index: 3;
		top: 34px;
		right: 32px;
	}
	nav .hamburger {
		display: flex;
		flex-direction: column;
		width: 32px;
		height: 16px;
		justify-content: space-between;
		cursor: pointer;
	}
	nav .hamburger.turned {
		height: 12px;
	}
	nav .right .hamburger:hover .line {
		background: var(--text-primary);
		transition: var(--transition-fast);
	}
	nav .right .hamburger:active .line {
		background: var(--text-primary);
		transition: var(--transition-fast);
	}
	nav .right .hamburger .line.turned-one {
		transform: rotate(45deg);
		top: 7.5px;
	}
	nav .right .hamburger .line.turned-two {
		transform: rotate(-45deg);
		bottom: 8px;
	}
	nav .right .hamburger .line {
		width: 32px;
		height: 4px;
		border-radius: 8px;
		background: var(--text-primary);
		position: relative;
		top: 0;
		bottom: 0;
	}
    nav .right a {
        display: none;
    }
    nav img {
        display: none;
    }
	nav.nav-full img {
		display: none;
	}
    nav.nav-full .right {
        display: flex;
        flex-direction: column;
        top: 50px;
		padding: 3rem;
		background-color: rgba(115,115,115,0.01);
		border-radius: 8px;
		border: 1px solid var(--light-gray);
		box-shadow: 18px 20px 26px -14px rgba(115,115,115,0.34);
		-webkit-box-shadow: 18px 20px 26px -14px rgba(115,115,115,0.34);
		-moz-box-shadow: 18px 20px 26px -14px rgba(115,115,115,0.34);
    }
    nav.nav-full .right a {
        display: block;
        text-transform: uppercase;
        font-size: clamp(24px, 5vw, 42px);
		font-weight: 500;
    }
	li#dark-mode {
		display: none;
	}
	li#socials {
		display: flex;
		flex-direction: row;
		margin: .5rem auto;
		border-top: 1px solid var(--light-gray);
		padding-top: 18px;
	}
	li#socials a {
		margin: 0 .25rem;
	}
	li#socials svg:hover {
		/*opacity: .7;*/
		animation: color-change 3.75s infinite;
	}
}

@keyframes color-change {
    0% { stroke: var(--clr-pr-blue-500); }
    12.5% { stroke: var(--clr-pr-cyan-500); }
    25% { stroke: var(--clr-pr-green-500); }
    37.5% { stroke: var(--clr-pr-orange-500); }
    50% { stroke: var(--clr-pr-primary-500); }
    62.5% { stroke: var(--clr-pr-red-500); }
    75% { stroke:var(--clr-lightyellow-500); }
    87.5% { stroke:var(--clr-green-500); }
    100% { stroke: var(--clr-bluedeep-500); }
}


/*landing*/
main {
	display: flex;
	gap: 8px;
	justify-content: center;
	flex-direction: column;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 64px;
	position: relative;
}

@media only screen and (max-width: 1000px) {
	section {
		flex-direction: column;
		padding: 64px 32px;
	}
}

/*first window*/
section.hero-start {
	min-height: 100vh;
}

/*aboutme*/
section.landing {
	margin-bottom: 100px;
	padding: 12px 24px;
}

.container {
	margin: auto;
}

.row {
	display: flex;
	justify-content: left;
	align-items: left;
	flex-direction: row;
	flex-grow: 1;
	gap: 20px;
}

.column {
	flex-direction: column;
	flex: 33.33333%;
	padding: 3rem 1rem;
	backdrop-filter: blur(12px);
	text-align: left;
	outline: 1px solid var(--light-gray);
	border-radius: 12px;
	max-height: 300px;
	max-width: 525px;
}

.mini-box {
	display: flex;
	flex-wrap: nowrap;
	flex-grow: 1;
	padding: 1.5rem;
	margin: auto;
	text-align: center;
	flex-direction: column;
}

.mini-box #span {
	padding: .25rem;
	margin: 0;
}

.mini-box h1 {
	font-weight: 900;
	font-size: calc(100% + 22px);
}

.container h1 {
	margin: .75rem auto;
}

.container span {
	margin: 1rem auto;
	padding: 1rem 0;
}

.container p {
	margin: 1rem auto;
}

@media screen and (max-width: 732px) {
	.row {
		flex-direction: column;
	}
}

.hero-start .mini-box {
	min-height: 300px;
	max-width: 525px;
}

.mini-box .button:active {
	background-color: hsl(214, 97%, 70%);
	stroke: var(--bg-primary);
	color: var(--bg-primary);
	transform: scale(1.01);
	outline: 2px solid hsl(214, 97%, 70%);
	transition: .5 all ease;
}

.mini-box a {
	max-width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align:middle;
	margin: 1rem auto;

	width: 200px;
	height: 70px;
	line-height: 70px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 5px 10px 3px rgba(0, 0, 0, .1);
	overflow: hidden;
	outline: 1px solid var(--light-gray);
}

.button #splash{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	background: rgba(255, 255, 255, .2);
	transform: translate(-50%, -50%);
	border-radius: 50%;
	transition: .5s ease-out;
}

/*
.button svg {
	margin-top: .575rem;
	margin-right: 2.25rem;
	margin-left: 2.25rem;
	margin-bottom: .475rem;
}
*/


.mini-box .info-a p {
	padding: 0 .75rem;
	font-size: clamp(15px, 4vw, 18px);
	z-index: 0;
}

a.info-a {
	color: var(--text-primary);
}
